	<section itemprop="comment" data-count="0">
		<form>
			<div>
				<label><input name="name" type="text" placeholder="　" required minlength="4" maxlength="20" /><span>名字 ★</span></label>
				<label><input name="mail" type="email" placeholder="　" required /><span>邮箱 ★</span></label>
				<label><input name="link" type="url" placeholder="　" /><span>链接</span></label>
				<a aria-label="submit">+</a>
				<a aria-label="close">×</a>
			</div>
			<label><textarea required placeholder="　" minlength="8" maxlength="400"></textarea><span>支持 <code>Markdown</code></span></label>
		</form>
		<ul role="list"></ul>
	</section>