	<section class="off" itemprop="comment" style="max-height: 4rem; overflow: hidden;">
		<header class="on"><a>Feed me some comments!</a></header>
		<form>
			<div>
				<div aria-label="quote"><article></article></div>
				<textarea required minlength="8" maxlength="800"></textarea>
				<fieldset>
					<label><input name="name" type="text" placeholder="　" required minlength="4" maxlength="20">{{ site.data.svg['name'] }}</label>
					<label><input name="mail" type="email" placeholder="　" required>{{ site.data.svg['mail'] }}</label>
					<label><input name="link" type="url" placeholder="　">{{ site.data.svg['link'] }}</label>
				</fieldset>
			</div>
			<div>
				<blockquote aria-label="instruction">
					姓名、邮箱必填；支持基础 Markdown 语法。
				</blockquote>
				<a aria-label="preview">{{ site.data.svg['view'] }}</a>
				<a aria-label="enter">{{ site.data.svg['enter'] }}</a>
			</div>
		</form>
		<ul aria-label="comments"></ul>
	</section>