---
layout: default
title: Widget
permalink: /widget/
---

<h2 class="page-title">Widget</h2>
<p class="page-subtitle">Collections & Tools</p>

<article>

	<ul>{% for datum in site.data.widget %}
		{% if datum.type %}<li data-author="self">
			<a target="_blank" href="{{ datum.link }}">
		{%- elsif datum.link -%}<li>
			<a target="_blank" rel="noopener noreferrer nofollow" href="{{ datum.link }}">{% endif %}
				<h3>{{ datum.name }}</h3>
				<p>{{ datum.desc }}</p>
			</a>
		</li>{% endfor %}
	</ul>

</article>
<script type="text/javascript">
	function n() {
		return Math.floor(Math.random()*21);
	}
	document.querySelectorAll('article li[data-author]').forEach(li => {
		li.style.background = `hsl(${230+n()},${25+n()}%,var(--bright85))`;
	});

</script>
