---
layout: default
---

	<div role="img" aria-hidden>{{ site.data.svg['logo'] }}</div>
	<h1 class="page-title" aria-hidden>{{ site.title }}</h1>
	<p class="page-subtitle" aria-hidden>{{ site.author }} / {{ site.name }}</p>
	<p aria-hidden>{{ site.description }}</p>
	<article>
		<p aria-hidden>本站仅支持现代浏览器；图标来自 <a target="_blank" rel="noopener noreferrer nofollow" href="https://www.flaticon.com/">{{ site.data.svg['flaticon'] }}</a>。</p>
		<ul aria-hidden>
			<li><a target="_blank" rel="noopener noreferrer nofollow" href="https://archiveofourown.org/users/fiammanda">AO3</a></li>
			<li><a target="_blank" rel="noopener noreferrer nofollow" href="https://space.bilibili.com/159653">BiliBili</a></li>
			<li><a target="_blank" rel="noopener noreferrer nofollow" href="http://fiammanda.lofter.com">Lofter</a></li>
			<li><a target="_blank" rel="noopener noreferrer nofollow" href="https://weibo.com/fiammanda">Weibo</a></li>
			<li><a target="_blank" rel="noopener noreferrer nofollow" href="https://www.youtube.com/fiammanda">YouTube</a></li>
			<li><a target="_blank" rel="noopener noreferrer nofollow" href="https://travellings.now.sh/">{{ site.data.svg['travelling'] }}Travelling</a></li>
		</ul>
	</article>