---
layout: default
---

{%- if page.url contains 'page' -%}
{%- assign page-no = page.url | slice: -5, 4 | split: '/' | last | minus: 0 -%}
{%- assign page-offset = page-no | minus: 1 | times: site.page-size -%}
{%- else -%}
{%- assign page-no = 0 -%}
{%- endif -%}
{%- assign page-total = site.categories['weblog'].size | divided_by: site.page-size-float | ceil -%}

<h2 class="page-title">Weblog</h2>
{% if page-no == 0 %}<p class="page-subtitle">The Full List</p>

<article>
	<nav role="toolbar">
		{%- capture site-tags -%}
			{%- for tag in site.tags -%}
				{{ tag[0] }}、
			{%- endfor -%}
		{%- endcapture -%}
		{%- assign tags = site-tags | split: '、' | sort_natural -%}{% for tag in tags %}
		<a data-count="{{ site.tags[tag] | size }}">{{ tag }}</a>{% endfor %}
	</nav>
	<ul>
		{% for page in site.categories['weblog'] %}{%- unless page.cite -%}
		<li itemscope itemtype="https://schema.org/CreativeWork" class="{{ page.tags | join: ' ' }}">
			<a itemprop="name" class="internal" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
			<hr />
			<time itemprop="datePublished">{{ page.date | date: '%Y-%m-%d' }}</time>
		</li>
		{%- endunless -%}{% endfor %}
	</ul>
</article>
{% else %}<p class="page-subtitle">Page {{ page-no }} of {{ page-total }}</p>

{%- for page in site.categories['weblog'] limit: site.page-size offset: page-offset -%}
{% if page.cite %}
<article data-layout="cite" itemscope itemtype="https://schema.org/BlogPosting">
	<div itemprop="articleBody">
{{ page.content }}
		<p><cite>——{{ page.cite }}</cite></p>
	</div>
	<header>
		<p><time itemprop="datePublished">{{ page.date | date: '%Y-%m-%d' }}</time></p>
	</header>
</article>
{% else %}
<article data-layout="post" itemscope itemtype="https://schema.org/BlogPosting">{% if page.feature %}
	<figure><img src="{{ page.feature }}" /></figure>
	{% endif %}<h1 itemprop="name"><a class="internal" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
	<header>
		<p>
			<time itemprop="datePublished">{{ page.date | date: '%Y-%m-%d' }}</time>
			{% if page.tags.size > 0 %}<span itemprop="keywords">
				{{ site.data.svg['tag'] }} 
				{{ page.tags | join: ' ' }}
			</span>{% endif %}
		</p>
	</header>
	<div itemprop="abstract">
		{% if page.content contains site.excerpt-separator %}
		{{ page.excerpt | markdownify | replace_first: site.excerpt-separator, '<span data-present="more"></span>' | replace: '<a href="http', '<a target="_blank" rel="noopener noreferrer nofollow" href="http' }}
		{% else %}
		{{ page.content | remove: ' highlighter-rouge' | remove: '<div class="highlight">' | replace: '</code></pre></div></div>', '</code></pre></div>' | replace: '<table>', '<div class="table"><table>' | replace: '</table>', '</table></div>' | replace: '<a href="http', '<a target="_blank" rel="noopener noreferrer nofollow" href="http' }}
		{% endif %}
	</div>
</article>

{%- endif -%}

{%- endfor -%}{% endif %}
<nav data-current="{{ page-no }}">{% for i in (1..page-total) %}
	{% if i == page-no %}<a class="internal current" href="{{ site.baseurl }}/weblog/page/{{ i }}/">{{ i }}</a>{% else %}<a class="internal" href="{{ site.baseurl }}/weblog/page/{{ i }}/">{{ i }}</a>
	{%- endif -%}
{% endfor %}
</nav>
