<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="author" content="{{ site.author }}" />
	<link rel="mask-icon" href="/favicon.svg" color="#666666">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.widget.css" />
	<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
{{ content }}

<footer><a href="/" target="_blank">{{ site.data.svg['logo'] }}</a></footer>

<script src="https://www.googletagmanager.com/gtag/js?id=UA-162600333-1"></script>
<script src="{{ site.baseurl}}/assets/script.widget.js"></script>
<script src="{{ site.baseurl}}/assets/script.data.js"></script>
</body>
</html>